In [4]:
import pandas as pd

In [5]:
bond = pd.read_csv("../data/jamesbond.csv")
bond.head(3)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

## The `.set_index()` and `.reset_index()` Methods

In [6]:
bond = pd.read_csv("../data/jamesbond.csv")
bond.head(3)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [7]:
bond.set_index("Film", inplace = True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [8]:
bond.reset_index(drop = False, inplace = True)
bond.head(3)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [9]:
bond.set_index("Film", inplace = True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [10]:
bond.reset_index(inplace = True)
bond.set_index("Year", inplace = True)
bond.head(3)

,Film,Actor,Director,Box Office,Budget,Bond Actor Salary
Year,,,,,,
1962,Dr. No,Sean Connery,Terence Young,448.8,7.0,0.6
1963,From Russia with Love,Sean Connery,Terence Young,543.8,12.6,1.6
1964,Goldfinger,Sean Connery,Guy Hamilton,820.4,18.6,3.2

## Retrieve Rows by Index Label with `.loc[]`

In [11]:
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(3)

FileNotFoundError: [Errno 2] No such file or directory: 'jamesbond.csv'

In [ ]:
bond.loc["Goldfinger"]
bond.loc["GoldenEye"]
#bond.loc["Sacred Bond"]
bond.loc["Casino Royale"]

In [ ]:
bond.loc["Diamonds Are Forever" : "Moonraker"]
bond.loc[: "On Her Majesty's Secret Service"]

In [ ]:
bond.loc[["Octopussy", "Moonraker"]]

In [ ]:
bond.loc[["For Your Eyes Only", "Live and Let Die", "Gold Bond"]]

In [ ]:
"Gold Bond" in bond.index

## Retrieve Row(s) by Index Position with `iloc`

In [ ]:
bond = pd.read_csv("jamesbond.csv")
bond.head(3)

In [ ]:
bond.loc[15]
bond.iloc[15]

bond.iloc[[15, 20]]
bond.iloc[:4]
bond.iloc[4:8]
bond.iloc[20:]

In [ ]:
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(3)

In [ ]:
bond.iloc[[5, 10, 15, 20]]

## The Catch-All `.ix[]` Method

In [ ]:
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(3)

In [ ]:
bond.ix["GoldenEye"]
bond.ix[["Diamonds are Forever", "Moonraker", "Spectre"]]
bond.ix["A View to a Kill" : "The World Is Not Enough"]
# bond.ix["Sacred Bond"]
bond.ix[["Spectre", "Sacred Bond"]]

"Spectre" in bond.index
"Sacred Bond" in bond.index

In [ ]:
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(3)

In [ ]:
bond.loc["Moonraker", ["Actor", "Budget", "Year"]]

bond.iloc[14, [5, 3, 2]]

bond.ix[20, "Budget"]
bond.ix["The Man with the Golden Gun", :4]
bond.ix[5, 3]

## Set New Values for a Specific Cell or Row

In [ ]:
bond = pd.read_csv("../data/jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(3)

In [ ]:
bond.ix["Dr. No"]

In [ ]:
bond.ix["Dr. No", "Actor"] = "Sir Sean Connery"

In [ ]:
bond.ix["Dr. No", ["Box Office", "Budget", "Bond Actor Salary"]] = [448800000, 7000000, 600000]

In [ ]:
bond.ix["Dr. No", "Budget"]

## Set Multiple Values in `DataFrame`

In [ ]:
bond = pd.read_csv("../data/jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(3)

In [ ]:
mask = bond["Actor"] == "Sean Connery"

In [ ]:
bond.ix[mask, "Actor"] = "Sir Sean Connery"

In [ ]:
bond[bond["Actor"] == "Roger Moore"]

bond.ix[bond["Actor"] == "Roger Moore"]

## Rename Index Labels or Columns in a `DataFrame`

In [ ]:
bond = pd.read_csv("../data/jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(3)

In [ ]:
bond.rename(columns = {"Year" : "Release Date", "Box Office" : "Revenue"}, inplace = True)

In [ ]:
bond.head(1)

In [ ]:
bond.rename(index = {"Dr. No" : "Doctor No", 
                     "GoldenEye" : "Golden Eye",
                    "The World Is Not Enough" : "Best Bond Movie Ever"}, inplace = True)

In [ ]:
bond.ix["Best Bond Movie Ever"]

In [ ]:
bond.head(1)

In [ ]:
bond.columns = ["Year of Release", "Actor", "Director", "Gross", "Cost", "Salary"]

In [ ]:
bond.head(3)

## Delete Rows or Columns from a `DataFrame`

In [ ]:
bond = pd.read_csv("../data/jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(3)

In [ ]:
# bond.drop("Casino Royale", inplace = True)
bond.drop(labels = ["Box Office", "Bond Actor Salary", "Actor"], axis = "columns", inplace = True)

In [ ]:
actor = bond.pop("Actor")

In [ ]:
actor

In [ ]:
del bond["Director"]

In [ ]:
del bond["Year"]

## Create Random Sample

In [ ]:
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(3)

In [ ]:
bond.sample(n = 3, axis = "columns")

## The `.nsmallest()` and `.nlargest()` Methods

In [ ]:
bond = pd.read_csv("../data/jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(3)

In [ ]:
bond.sort_values("Box Office", ascending = False).head(3)

In [ ]:
bond.nlargest(3, columns = "Box Office")

bond.nsmallest(n = 2, columns = "Box Office")

In [ ]:
bond.nlargest(3, columns = "Budget")

bond.nsmallest(n = 6, columns = "Bond Actor Salary")

In [13]:
# bond["Box Office"].nlargest(8)

# bond["Year"].nsmallest(2)

## Filtering with the `where` Method

In [14]:
bond = pd.read_csv("../data/jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [15]:
mask = bond["Actor"] == "Sean Connery"
bond[mask]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [16]:
bond.where(mask)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Diamonds Are Forever,1971.0,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,NaN,NaN,NaN,NaN,NaN,NaN
Dr. No,1962.0,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,NaN,NaN,NaN,NaN,NaN,NaN
From Russia with Love,1963.0,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,NaN,NaN,NaN,NaN,NaN,NaN
Goldfinger,1964.0,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,NaN,NaN,NaN,NaN,NaN,NaN
Live and Let Die,NaN,NaN,NaN,NaN,NaN,NaN
Moonraker,NaN,NaN,NaN,NaN,NaN,NaN
Never Say Never Again,1983.0,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,NaN,NaN,NaN,NaN,NaN,NaN
On Her Majesty's Secret Service,NaN,NaN,NaN,NaN,NaN,NaN
Quantum of Solace,NaN,NaN,NaN,NaN,NaN,NaN
Skyfall,NaN,NaN,NaN,NaN,NaN,NaN
Spectre,NaN,NaN,NaN,NaN,NaN,NaN
The Living Daylights,NaN,NaN,NaN,NaN,NaN,NaN
The Man with the Golden Gun,NaN,NaN,NaN,NaN,NaN,NaN
The Spy Who Loved Me,NaN,NaN,NaN,NaN,NaN,NaN
The World Is Not Enough,NaN,NaN,NaN,NaN,NaN,NaN
Thunderball,1965.0,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,NaN,NaN,NaN,NaN,NaN,NaN
You Only Live Twice,1967.0,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [ ]:
bond.where(bond["Box Office"] > 800)

In [ ]:
mask2 = bond["Box Office"] > 800

In [ ]:
bond.where(mask & mask2)

## The `.query()` Method

In [ ]:
bond = pd.read_csv("../data/jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(3)

In [ ]:
bond.columns = [column_name.replace(" ", "_") for column_name in bond.columns]
bond.head(1)

In [ ]:
bond.query('Actor == "Sean Connery"')
bond.query("Director == 'Terence Young'")
bond.query("Actor != 'Roger Moore'")

In [ ]:
bond.query("Box_Office > 600")

In [ ]:
bond.query("Actor == 'Roger Moore' or Director == 'John Glen'")

In [ ]:
bond.query("Actor in ['Timothy Dalton', 'George Lazenby']")

bond.query("Actor not in ['Sean Connery', 'Roger Moore']")

## A Review of the `.apply()` Method on Single Columns

In [ ]:
bond = pd.read_csv("../data/jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(3)

In [ ]:
def convert_to_string_and_add_millions(number):
    return str(number) + " MILLIONS!"

In [ ]:
columns = ["Box Office", "Budget", "Bond Actor Salary"]
for col in columns:
    bond[col] = bond[col].apply(convert_to_string_and_add_millions)

In [ ]:
bond.head(3)

## The `.apply()` Method with Row Values

In [ ]:
bond = pd.read_csv("../data/jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(3)

In [ ]:
def good_movie(row):
    
    actor = row[1]
    budget = row[4]
    
    if actor == "Pierce Brosnan":
        return "The best"
    elif actor == "Roger Moore" and budget > 40:
        return "Enjoyable"
    else:
        return "I have no clue"
    
bond.apply(good_movie, axis = "columns")

## The `.copy()` Method

In [ ]:
bond = pd.read_csv("../data/jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(3)

In [ ]:
directors = bond["Director"]
directors.head(3)

In [ ]:
directors["A View to a Kill"] = "Mister John Glen"

In [ ]:
directors.head(3)

In [ ]:
bond.head(3)

In [ ]:
directors = bond["Director"].copy()
directors.head(3)

In [ ]:
directors["A View to a Kill"] = "Mister John Glen"

In [ ]:
directors.head(3)

In [ ]:
bond.head(3)